# Git configuration
# Managed by chezmoi - edit in dotfiles repo

[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
    unstage = reset HEAD --
    
[color]
    ui = auto

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff
    conflictstyle = diff3
